@-webkit-keyframes title {
  /* line 13, ../scss/site.scss */
  from {
    color: #EEE;
    margin-top: -220px;
  }

  /* line 17, ../scss/site.scss */
  to {
    color: #333;
    margin-top: 0px;
  }
}

/* line 36, ../scss/site.scss */
.clear {
  clear: both;
}

/* line 38, ../scss/site.scss */
body {
  padding: 60px 0px 0px 0px;
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 46, ../scss/site.scss */
nav {
  border-top: 2px solid #7db500;
  background: #FFF;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}
/* line 56, ../scss/site.scss */
nav ul {
  width: 900px;
  margin: 0px auto;
  padding: 0px;
  list-style-type: none;
}
/* line 62, ../scss/site.scss */
nav ul li {
  float: left;
  margin-bottom: -3px;
}
/* line 66, ../scss/site.scss */
nav ul li.selected {
  border-bottom: 10px solid #7db500;
}
/* line 70, ../scss/site.scss */
nav ul li.home {
  padding: 10px;
}
/* line 73, ../scss/site.scss */
nav ul li.home a {
  display: block;
  line-height: 40px;
  width: 40px;
  background: #7db500;
  color: #FFF;
  font-family: "Cherry Swash", sans-serif;
  text-align: center;
  font-size: 24px;
  padding: 0px;
}
/* line 87, ../scss/site.scss */
nav ul a {
  float: left;
  text-decoration: none;
  padding: 20px 15px;
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
}

/* line 99, ../scss/site.scss */
header {
  background: #f4f4f4 url(../images/tiny_grid.png) top left repeat;
  padding: 50px 0px 80px 0px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  margin-bottom: 100px;
  position: relative;
}
/* line 107, ../scss/site.scss */
header hgroup {
  text-align: center;
  font-family: "Cherry Swash", sans-serif;
}
/* line 111, ../scss/site.scss */
header hgroup h1 {
  -webkit-animation-name: title;
  -khtml-animation-name: title;
  -moz-animation-name: title;
  -ms-animation-name: title;
  -o-animation-name: title;
  animation-name: title;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: 1;
  font-size: 150px;
  font-weight: 700;
  margin: 0px 10px 0px 10px;
  line-height: 150px;
  color: #333;
  text-shadow: 0px 1px 0px #FFF;
}
/* line 120, ../scss/site.scss */
header hgroup h2 {
  color: #999;
  font-weight: normal;
  margin: 0px 10px 20px 10px;
  text-shadow: 0px 1px 0px #FFF;
}
@media only screen and (max-width: 480px) {
  /* line 128, ../scss/site.scss */
  header hgroup h1 {
    font-size: 80px;
    line-height: 80px;
    margin: 0px 10px 10px 10px;
  }
  /* line 133, ../scss/site.scss */
  header hgroup h2 {
    font-size: 24px;
    margin: 0px 20px 20px 20px;
  }
}
/* line 140, ../scss/site.scss */
header .social-buttons {
  position: absolute;
  bottom: 20px;
  right: 100px;
}
/* line 146, ../scss/site.scss */
header .button-download {
  position: absolute;
  bottom: -74px;
  left: 50%;
  margin-left: -74px;
  z-index: 10;
}

/* line 162, ../scss/site.scss */
#page {
  max-width: 960px;
  margin: 0px auto;
}
/* line 167, ../scss/site.scss */
#page .showcase {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 0px 0px 60px 0px;
  position: relative;
}
/* line 172, ../scss/site.scss */
#page .showcase hgroup {
  position: absolute;
  top: -30px;
  z-index: 1;
}
/* line 177, ../scss/site.scss */
#page .showcase hgroup h3 {
  font-family: "Cherry Swash", sans-serif;
  font-weight: lighter;
  color: #999;
  font-size: 16px;
  line-height: 30px;
  margin: 0px;
  padding: 0px;
}
/* line 186, ../scss/site.scss */
#page .showcase hgroup h3 em {
  font-size: 11px;
  color: #999;
  font-style: normal;
}
/* line 191, ../scss/site.scss */
#page .showcase hgroup h3 em a {
  color: #999;
}
/* line 198, ../scss/site.scss */
#page .showcase .gallery {
  padding: 20px 20px 20px 20px;
}
/* line 201, ../scss/site.scss */
#page .showcase .gallery ul {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  padding: 0;
}
/* line 206, ../scss/site.scss */
#page .showcase .gallery ul:last-child {
  margin-bottom: 0px;
}
/* line 210, ../scss/site.scss */
#page .showcase .gallery ul li {
  margin: 5px;
  display: inline-block;
}
/* line 217, ../scss/site.scss */
#page .showcase .prettyprint {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  background: #333;
  padding: 10px 5px;
  margin: 0;
  font-size: 11px;
  line-height: 16px;
  overflow: hidden;
}
/* line 226, ../scss/site.scss */
#page .showcase .prettyprint li.L1, #page .showcase .prettyprint li.L3, #page .showcase .prettyprint li.L5, #page .showcase .prettyprint li.L7, #page .showcase .prettyprint li.L9 {
  background: #333;
}

/* line 234, ../scss/site.scss */
#setup {
  background: #EEE;
}
/* line 237, ../scss/site.scss */
#setup h2 {
  text-align: center;
  font-weight: 100;
  font-size: 60px;
  color: #CCC;
  text-shadow: 0px 1px 0px #FFF;
  margin: 0px 0px 20px 0px;
  line-height: 60px;
}
/* line 246, ../scss/site.scss */
#setup h3 {
  color: #666;
  font-size: 22px;
}
/* line 251, ../scss/site.scss */
#setup .instructions {
  max-width: 880px;
  padding: 40px 20px;
  margin: 0px auto;
}
/* line 256, ../scss/site.scss */
#setup .instructions ol.steps {
  padding-left: 30px;
}
/* line 258, ../scss/site.scss */
#setup .instructions ol.steps > li {
  line-height: 22px;
  margin-bottom: 10px;
  color: #666;
}
/* line 265, ../scss/site.scss */
#setup .instructions em {
  font-size: 12px;
}
/* line 271, ../scss/site.scss */
#setup .prettyprint {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #333;
  padding: 5px;
  margin: 0;
  font-size: 10px;
  line-height: 16px;
  overflow: hidden;
}
/* line 281, ../scss/site.scss */
#setup .prettyprint .linenums {
  padding-left: 20px;
}
/* line 285, ../scss/site.scss */
#setup .prettyprint li.L1, #setup .prettyprint li.L3, #setup .prettyprint li.L5, #setup .prettyprint li.L7, #setup .prettyprint li.L9 {
  background: #333;
}
/* line 290, ../scss/site.scss */
#setup .customize, #setup .setup {
  width: 47%;
  text-align: left;
}
/* line 295, ../scss/site.scss */
#setup .customize {
  float: right;
}
/* line 299, ../scss/site.scss */
#setup .setup {
  float: left;
}

/* line 306, ../scss/site.scss */
footer {
  background: #333;
  color: #FFF;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #666;
}
/* line 315, ../scss/site.scss */
footer a {
  color: #666;
}

/* line 321, ../scss/site.scss */
.grid-fixed, .grid-fluid {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white url(../images/old_mathematics.png) top left repeat;
  margin-bottom: 40px;
}
/* line 326, ../scss/site.scss */
.grid-fixed .c1, .grid-fixed .c2, .grid-fixed .c3, .grid-fixed .c4, .grid-fixed .c5, .grid-fixed .c6, .grid-fixed .c7, .grid-fixed .c8, .grid-fixed .c9, .grid-fixed .c10, .grid-fixed .c11, .grid-fixed .c12, .grid-fixed .c13, .grid-fixed .c14, .grid-fixed .c15, .grid-fixed .c16, .grid-fluid .c1, .grid-fluid .c2, .grid-fluid .c3, .grid-fluid .c4, .grid-fluid .c5, .grid-fluid .c6, .grid-fluid .c7, .grid-fluid .c8, .grid-fluid .c9, .grid-fluid .c10, .grid-fluid .c11, .grid-fluid .c12, .grid-fluid .c13, .grid-fluid .c14, .grid-fluid .c15, .grid-fluid .c16 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(#ffffff, #eeeeee);
  background: -moz-linear-gradient(#ffffff, #eeeeee);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  background: linear-gradient(#ffffff, #eeeeee);
  background-color: #EEE;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  color: #7db500;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 0px 1px 0px #FFF;
}

@media only screen and (max-width: 480px) {
  /* line 349, ../scss/site.scss */
  body {
    padding: 0px;
  }

  /* line 354, ../scss/site.scss */
  nav {
    position: static;
  }
  /* line 357, ../scss/site.scss */
  nav ul {
    width: auto;
  }
  /* line 360, ../scss/site.scss */
  nav ul li {
    float: none;
    display: block;
    border-bottom: 1px solid #EEE;
  }
  /* line 365, ../scss/site.scss */
  nav ul li.home {
    padding: 10px;
    margin: 5px auto;
  }
  /* line 368, ../scss/site.scss */
  nav ul li.home a {
    margin: 5px auto;
  }
  /* line 374, ../scss/site.scss */
  nav ul li.selected {
    border-bottom: 1px solid #EEE;
  }
  /* line 378, ../scss/site.scss */
  nav ul li a {
    float: none;
    display: block;
    line-height: 24px;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
  }
}
