//////////////////////////////////////////////////////////
// BASE DEFAULTS /////////////////////////////////////////
//////////////////////////////////////////////////////////
$grid-namespace: '.grid';
$after-namespace: '.a';
$before-namespace: '.b';
$column-namespace: '.c';  //EX c1, c2, c3, etc. for column class.


//////////////////////////////////////////////////////////
// FIXED GRID OPTIONS ////////////////////////////////////
//////////////////////////////////////////////////////////
$fixed-column-width: 60px;
$fixed-grid-size: 960px;
$margin: 10px;
$columns: 12, 16, 24;

//////////////////////////////////////////////////////////
// FLUID GRID OPTIONS ////////////////////////////////////
//////////////////////////////////////////////////////////
$fluid-unit: 1.04165%;
