//////////////////////////////////////////////////////////
// BASE DEFAULTS /////////////////////////////////////////
//////////////////////////////////////////////////////////
$unicorn-grid-namespace: '.grid' !default;
$unicorn-grid-after-namespace: '.a' !default;
$unicorn-grid-before-namespace: '.b' !default;
$unicorn-grid-column-namespace: '.c' !default;  //EX c1, c2, c3, etc. for column class.
$unicorn-grid-num-columns: 12 !default;


//////////////////////////////////////////////////////////
// FIXED GRID OPTIONS ////////////////////////////////////
//////////////////////////////////////////////////////////
$unicorn-grid-fixed-grid-size: 960px !default;
$unicorn-grid-fixed-margin: 10px !default;

//////////////////////////////////////////////////////////
// FLUID GRID OPTIONS ////////////////////////////////////
//////////////////////////////////////////////////////////
//value from 1-10 (bigger makes gutter smaller, default based on 960 grid ratio)
$unicorn-grid-fluid-gutter: 6 !default;

//////////////////////////////////////////////////////////
// RESPONSIVE OPTIONS ////////////////////////////////////
//////////////////////////////////////////////////////////
$unicorn-grid-responsive: 'enabled' !default;
$unicorn-grid-small-breakpoint: 480px !default;
$unicorn-grid-tablet-breakpoint: 900px !default;